

<% include partials/header %> 
<hr style="height:20pt; visibility:hidden;" />

<table >
  <tr  ondrop="drop(event)" ondragover="allowDrop(event)" >
   
    <td>
      
    
    </td>
  </tr>
  <tr  ondrop="drop(event)" ondragover="allowDrop(event)">
    <td>
    
    </td>
  </tr>
  <tr  ondrop="drop(event)" ondragover="allowDrop(event)">
    <td>
    
    </td>
  </tr>
  <tr  ondrop="drop(event)" ondragover="allowDrop(event)">
    <td>
    
    </td>
  </tr>
</table>
<!--    <div class = "ui five column grid high">-->
<!--        <div class = "row">-->
<!--            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)" >-->
<!--            <h3>-->
<!--                Period 1-->
<!--            </h3>-->
<!--            </div>-->
<!--            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">-->
<!--            <h3>-->
<!--                Period 2-->
<!--            </h3>-->
<!--            </div>-->
<!--            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">-->
<!--            <h3>-->
<!--                Lunch-->
<!--            </h3>-->
<!--            </div>-->
            
<!--            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">-->
<!--           <h3>-->
<!--                Period 3-->
<!--            </h3>-->
<!--            </div>-->
            
<!--            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">-->
<!--           <h3>-->
<!--                Period 4-->
<!--            </h3>-->
<!--            </div>-->
<!--         </div>-->
<!--</div>-->
    
   
    
    
      <div class="row text-center bottom" style= "display:flex; flex-wrap:wrap; overflow-y: auto;" >
        
        <%  for(var i = 0; i < photos.length; i++){ %>
          <% if(photos[i].number == 2){ %>
            <div class = "dog cat"  ondrop="drop(event)" ondragover="allowDrop(event)">
                 
                <div draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>"  class = "no" >
                   
                    <div class = "cat no" >
                    
                     <img onclick='responsiveVoice.speak("<%= photos[i].caption %>");' width = "50%" height = "auto" src= "<%= photos[i].url %>" class = "no" draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>" >
                
             
                    <h2 class = "no"  draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>" >
                    <strong  class = "no" draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>" ><%= photos[i].caption %></strong> </h2>
                    
                   <audio id="<%= photos[i].caption %>" src="http://api.voicerss.org/?key=6f7972b0edb542a4afbb49e59a3d6776&hl=en-us&src=<%= photos[i].caption %>"></audio>
                    
                    </div>
                     
                </div>
              
           
            </div>
       
          
        <% } %>
    <% } %>
 </div>   
 
 
  
  

</div>

<div class="garbage" ondrop="drop(event)" ondragover="allowDrop(event)" ondragenter="dragEnter(event)">
  <h1 class = "garbage">All Done!</h1>  
    <center class = "garbage">
         <img width = "50%" width="50%" src="http://i.imgur.com/r0nVqFh.png">
    </center>
   
    
    
    
</div>

<% include partials/footer %> 