

<% include partials/header %> 

    <div class = "ui five column grid high">
        <div class = "row">
            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)" >
            <p>
                Period 1
            </p>
            </div>
            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">
         <p>
                Period 2
            </p>
            </div>
            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">
          <p>
                Lunch
            </p>
            </div>
            
            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">
           <p>
                Period 3
            </p>
            </div>
            
            <div class = "column divider" ondrop="drop(event)" ondragover="allowDrop(event)">
           <p>
                Period 4
            </p>
            </div>
         </div>
</div>
    
   
    
    
      <div class="row text-center bottom" style= "display:flex; flex-wrap:wrap">
        
        <%  for(var i = 0; i < photos.length; i++){ %>
          <% if(photos[i].number == 2){ %>
            <div class = "dog cat"  ondrop="drop(event)" ondragover="allowDrop(event)">
                 
                <div draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>"  class = "no" >
                   
                    <div class = "cat no" >
                    
                     <img onclick='responsiveVoice.speak("<%= photos[i].caption %>");' width = "75%" height = "auto" src= "<%= photos[i].url %>" class = "no" draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>" >
                
             
                    <h4 class = "no"  draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>" >
                    <strong  class = "no" draggable="true" ondragstart="drag(event)" id="drag <%= photos[i].caption %>" ><%= photos[i].caption %></strong> </h4>
                    
                   <audio id="<%= photos[i].caption %>" src="http://api.voicerss.org/?key=6f7972b0edb542a4afbb49e59a3d6776&hl=en-us&src=<%= photos[i].caption %>"></audio>
                    
                          
                   
                    
               
                    
                    <form class = "no" method = "POST" action = "/photos/index/<%= photos[i]._id %>?_method=DELETE">
                        <BUTTON  class="no">Done</BUTTON>
                    </form>
                    
                    </div>
                     
                </div>
              
           
            </div>
       
          
        <% } %>
    <% } %>
 </div>   
 
 <div>
     
 </div>
        
  
    
<a   href="/"><button class="ui button">Home</button></a>

</div>

<% include partials/footer %> 